{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}
    <div class="main">

        <div class="main-upload">
            <h2>Upload</h2>

            {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
                {{ form_row(form.images) }}
                <button class="btn">Envoyer</button>
            {{ form_end(form) }}

            <div class="main-upload-msg">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}

            </div>
        </div>

        <div class="main-login">
            <h2>Admin</h2>

            {% if app.user %}
                Bienvenue {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                <ul>
                    <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{{ path('app_login') }}">Login</a></li>
                </ul>
            {% endif %}
        </div>

    </div>
{% endblock %}